@using Coevery.PropertyManagement.Security
@using Coevery.Utility.Extensions
@model Coevery.PropertyManagement.ViewModels.ReceiptListViewModel
@{
    Layout.Title = "欠费统计明细表";
    Style.Require("jqGrid");
    Style.Require("jqGridCustom");
    Script.Require("jqGrid");
    Script.Require("jqGrid_i18n");
    Script.Require("moment");
    var gridId = "OwingReportGridId";
    var gridPagerId = gridId + "Pager";

    var summaryGridId = "SummaryGridId";
    var summaryGridPagerId = summaryGridId + "Pager";
    
}
<div id="filters" class="form-inline">
    <div class="searchbox">
        <label class="lb-40" for="Filter_ApartmentId">@T("楼盘:")</label>
        @Html.DropDownList("Filter.ApartmentId", (List<SelectListItem>)ViewBag.Apartments, new Dictionary<string, object> { { "class", "text" } })
    </div>
    <div class="searchbox">
        <label class="lb-40" for="Filter_BuildingId">@T("楼宇:")</label>
        @Html.DropDownList("Filter.BuildingId", new List<SelectListItem>(), new Dictionary<string, object>
        {
            { "class", "text" },
            {"disabled","true"}
        })
    </div>
    <div class="searchbox">
        <label class="lb-40" for="Filter_HouseNumber">@T("房号:")</label>
        @Html.DropDownList("Filter.HouseNumber", new List<SelectListItem>(), new Dictionary<string, object>
        {
            { "class", "text" },
            {"disabled","true"}
        })
    </div>
    <div class="searchbox">
        <label class="lb-40" for="Filter_OwnerId">@T("业主:")</label>
        @Html.DropDownList("Filter.OwnerId", (List<SelectListItem>)ViewBag.Customers, new Dictionary<string, object> { { "class", "text" } })
    </div>
    <div class="searchbox">
        <label class="lb-40" for="Filter_RenterId">@T("租户:")</label>
        @Html.DropDownList("Filter.RenterId", (List<SelectListItem>)ViewBag.Customers, new Dictionary<string, object> { { "class", "text" } })
    </div>
    <div class="searchbox">
        <label class="lb-80" for="Filter_OfficerId">@T("专管业务员:")</label>
        @Html.DropDownList("Filter.OfficerId", (List<SelectListItem>)ViewBag.Officers, new Dictionary<string, object> { { "class", "text" } })
    </div>
    <div class="searchbox">
        <label class="lb-60" for="Filter_ContractNumber">@T("合同号:")</label>
        @Html.TextBox("Filter.ContractNumber", null, new { @class = "text" })
    </div>
    <div class="searchbox">
        <button id="btnFilter" class="btn btn-small"><i class="icos-looking-glass"></i>&nbsp;查找</button>
        <button id="btnReset" class="btn btn-small btnReset" name="reset">重置</button>
        <button id="btnExport" class="btn btn-small btnExport" name="reset">导出Excel</button>
    </div>
</div>

<div class="row-fluid">
    <table id="@gridId"></table>
    <section id="@gridPagerId"></section>
    <p id="summary-line"></p>
</div>
<div class="row-fluid">
    <div class="span6">
        <table id="@summaryGridId"></table>
        <section id="@summaryGridPagerId"></section>
    </div>
</div>

@Html.AntiForgeryToken()

@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {
            //楼盘楼宇房间联动
            var ApartmentItemId = $('#Filter_ApartmentId');
            var BuildingItemId = $('#Filter_BuildingId');
            var HouseNumberItemId = $('#Filter_HouseNumber');
            ApartmentItemId.change(function () {
                BuildingItemId.prop("disabled", ApartmentItemId.val() == '');
                if (ApartmentItemId.val() == '') {
                    BuildingItemId.empty();
                    HouseNumberItemId.empty();
                    HouseNumberItemId.prop("disabled", true);
                    return;
                }
                getBuildingItems();
            });
            BuildingItemId.change(function () {
                HouseNumberItemId.prop("disabled", BuildingItemId.val() == '');
                if (BuildingItemId.val() == '') {
                    HouseNumberItemId.empty();
                    return;
                }
                getHouseNumberItems();
            });


            function getBuildingItems() {
                BuildingItemId.empty();
                HouseNumberItemId.empty();
                $.ajax({
                    url: "@Url.Action("GetBuildingItems", "HouseMeterReading")",
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        apartmentItemId: ApartmentItemId.val()
                    }),
                    success: function (res) {
                        var data = eval(res);
                        BuildingItemId.append('<option></option>');
                        for (var i = 0; i < data.length; i++) {
                            BuildingItemId.append('<option value="' + data[i].Value + '">' + data[i].text + '</option>');
                        }

                    },
                    error: function () {
                        $.pnotify({
                            title: '错误',
                            type: 'Error',
                            text: '提交请求失败！'
                        });
                    }
                });
            }

            function getHouseNumberItems() {
                HouseNumberItemId.empty();
                $.ajax({
                    url: "@Url.Action("GetHouseItems", "HouseMeterReading")",
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        apartmentItemId: ApartmentItemId.val(),
                        buildingItemId: BuildingItemId.val()
                    }),
                    success: function (res) {
                        var data = eval(res);
                        HouseNumberItemId.append('<option></option>');
                        for (var i = 0; i < data.length; i++) {
                            HouseNumberItemId.append('<option value="' + data[i].Value + '">' + data[i].text + '</option>');
                        }
                    },
                    error: function () {
                        $.pnotify({
                            title: '错误',
                            type: 'Error',
                            text: '提交请求失败！'
                        });
                    }
                });
            }

            //grid
            var grid = $('#@gridId');
            var gridSummary = $('#@summaryGridId');

            moment.lang('@WorkContext.CurrentCulture.ToLower()');

            function utcDateFormatter(cellvalue, options, rowObject) {
                if (cellvalue) {
                    return moment(cellvalue).format('l');
                } else {
                    return '';
                }
            }

            function utcDateTimeFormatter(cellvalue, options, rowObject) {
                if (cellvalue) {
                    return moment(cellvalue).format('l LT');
                } else {
                    return '';
                }
            }

            $.extend(jQuery.jgrid.defaults, {
                prmNames: {
                    page: 'page',
                    rows: 'pageSize',
                    sort: 'sortBy',
                    order: 'sortOrder'
                },
                datatype: 'json',
                mtype: 'POST',
                postData: {
                    __RequestVerificationToken: function () {
                        var magicToken = $("input[name=__RequestVerificationToken]").first();
                        if (magicToken.length == 0) {
                            return null;
                        } // no sense in continuing if form POSTS will fail
                        return magicToken.val();
                    }
                },
                viewrecords: true,
                height: '100%',
                pagerpos: 'right',
                recordpos: 'left',
                sortable: true,
                headertitles: true,
                //multiselect: true,
                //multiboxonly: true,
                autowidth: true,
                jsonReader: {
                    page: 'page',
                    total: 'totalPages',
                    records: 'totalRecords',
                    repeatitems: false
                }
            });

            var gridColModel = [
                { "name": "ContractNumber", "label": "合同号", "sortable": true },
                { "name": "HouseOwnerName", "label": "业主姓名", "sortable": false },
                { "name": "HouseRenterName", "label": "租户姓名", "sortable": false },
                { "name": "ExpenserName", "label": "费用承担人", "sortable": true },
                { "name": "OfficerName", "label": "专管业务员", "sortable": true },
                { "name": "HouseNumber", "label": "房号", "sortable": false },
                { "name": "ChargeItemSettingName", "label": "收费项目", "sortable": true },
                { "name": "ChargeTerm", "label": "计费期间", "sortable": false },
                { "name": "ChargeUnit", "label": "计费单位", "sortable": false },
                { "name": "ChargeNumber", "label": "计费数量", "sortable": false },
                { "name": "ChargeUnitPrice", "label": "计费单价", "sortable": false, formatter: "currency", formatoptions: { decimalPlaces: 2, defaultValue: '' } },
                { "name": "ChargeItemAmount", "label": "计费金额", "sortable": false, formatter: "currency", formatoptions: { decimalPlaces: 2, defaultValue: '' } },
                { "name": "BillStatus", "label": "交费状态", "sortable": false }
            ];
            var gridOptions = {
                url: '@Url.Action("List","OwingReport",  new { area = "Coevery.PropertyManagement" })',
                colModel: gridColModel,
                pager: '#@gridPagerId',
                rowNum: 50,
                rowList: [50, 100, 150],
                sortname: 'ExpenserName',
                sortorder: 'asc',
                loadComplete: function(data) {
                    $("#summary-line").html("汇总合计：&nbsp;" + data.totalAmount);
                }
            };

            $('#@gridId').jqGrid(gridOptions);

            var summaryGridColModel = [
                { "name": "ChargeItemName", "label": "收费项目", "sortable": false },
                { "name": "OwingMoney", "label": "欠收金额", "sortable": false, formatter: "currency", formatoptions: { decimalPlaces: 2, defaultValue: '' } }
            ];
            var summaryGridOptions = {
                url: '@Url.Action("OwingReportSummary","OwingReport",  new { area = "Coevery.PropertyManagement" })',
                colModel: summaryGridColModel,
                pager: '#@summaryGridPagerId',
                rowNum: 50,
                rowList: [50, 100, 150],
                sortname: '',
                sortorder: ''
            };
            $('#@summaryGridId').jqGrid(summaryGridOptions);
            
            //过滤器
            $('#btnFilter').click(function () {
                var postData = grid.jqGrid('getGridParam', 'postData');
                $('#filters :input').serializeArray().map(function (x) { postData[x.name] = x.value; });
                grid.trigger("reloadGrid");
                
                var postData2 = gridSummary.jqGrid('getGridParam', 'postData');
                $('#filters :input').serializeArray().map(function (x) { postData2[x.name] = x.value; });
                gridSummary.trigger("reloadGrid");
            });

            $('#btnReset').click(function () {
                $('#filters :input').each(function (index, value) {
                    $(value).val('');
                });
                $('#btnFilter').trigger('click');
            });

            $('#btnRefresh').click(function () {
                grid.trigger('reloadGrid');
                gridSummary.trigger('reloadGrid');
            });

            $('#btnExport').click(function() {
                var fakeFormHtmlFragment = "<form style='display: none;' method='POST' action='@Url.Action("ExportExcel")'></form>";
                var fakeForm = $(fakeFormHtmlFragment);
                $('#filters :input').serializeArray().map(function(x) {
                    fakeForm.append("<input type='hidden' name='" + x.name + "' value='" + x.value + "'>");
                });
                fakeForm.append("<input type='hidden' name='gridColumns' value='" + JSON.stringify(gridColModel) + "'>");
                fakeForm.append("<input type='hidden' name='gridSummaryColumns' value='" + JSON.stringify(summaryGridColModel) + "'>");
                fakeForm.append($("input[name=__RequestVerificationToken]").clone());
                $("body").append(fakeForm);
                fakeForm.submit();
            });
        });

    </script>
}
