@using Coevery.Utility.Extensions
@{
    var id = Guid.NewGuid().ToString();
    var prefix = Model.Metadata.Prefix;
}
<div class="row-fluid edit-mode">
	@using (Html.BeginFormAntiForgeryPost(Url.Action("Edit", "Material" , new { id = Model.ContentItem.Id, returnUrl = Request.QueryString["ReturnUrl"]}),
		FormMethod.Post, new {@class = "form-horizontal", id = id})) {
		<fieldset>
			<legend>@T("基础信息")</legend>
			<div class="data-row clearfix">
				<div class="span12 control-group">
					@Display.DisplayFieldEditor(part: Model.ContentPart, fieldName: "SerialNo")
				</div>
			</div>
			<div class="data-row clearfix">
				<div class="span12 control-group">
					@Display.DisplayFieldEditor(part: Model.ContentPart, fieldName: "Name")
				</div>
			</div>
			<div class="data-row clearfix">
				<div class="span12 control-group">
					@Display.DisplayFieldEditor(part: Model.ContentPart, fieldName: "Brand")
				</div>
			</div>
			<div class="data-row clearfix">
				<div class="span12 control-group">
					@Display.DisplayFieldEditor(part: Model.ContentPart, fieldName: "Model")
				</div>
			</div>
			<div class="data-row clearfix">
				<div class="span12 control-group">
					@Display.DisplayFieldEditor(part: Model.ContentPart, fieldName: "Unit")
				</div>
			</div>
			<div class="data-row clearfix">
				<div class="span12 control-group">
					@Display.DisplayFieldEditor(part: Model.ContentPart, fieldName: "Remark")
				</div>
			</div>
		</fieldset>
		<div class="data-row clearfix">
            <div class="control controls">
                <button type="submit" class="btn btn-small btn-primary">@T("Save changes")</button>
                @{
                    var returnUrl = Request.QueryString["returnUrl"];
                }
                @if (!String.IsNullOrWhiteSpace(returnUrl) && Request.IsLocalUrl(returnUrl))
                {
                    <a class="btn btn-small"  href="@returnUrl">@T("Cancel")</a>
                }
            </div>
        </div>
	}
</div>

@using (Script.Foot())
{
    <script>
        $('#@id').validate();
        @*$(function () {
            var costPrice = $("#@prefix" + "_CostPrice_Value");
            if (costPrice && costPrice.length == 1) {
                costPrice.attr("disabled", "disabled");
                costPrice.removeAttr("name");
            }
        });*@
    </script>
}